.form {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.input {
  max-width: 345px;
}

.list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 22px 0 0;
  padding: 0;
  list-style-type: none;
}
